@media (min-width: 993px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  nav {
    width: auto;
    padding: 16px 20px 16px 20px;
  }
  .logo {
    font-size: 35px;
    font-weight: 500;
  }
  .link {
    display: none;
  }
  .btn {
    display: none;
  }
  .hero-container {
    padding: 80px 20px;
    gap: 24px;
  }
  .icon {
    top: 17%;
    right: 32%;
  }
  .center-img {
    width: 23%;
    height: 30%;
  }
  .circle-img {
    width: 200px;
    height: 200px;
  }

  .hero-heading {
    font-size: 40px;
    font-weight: 800;
    font-style: Bold;
  }
  .hero-subheading {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }
  .sec-1 {
    gap: 40px;
    padding: 40px 20px 40px 20px;
  }
  .sec-1-mainheading p {
    font-size: 32px;
    line-height: 39px;
  }
  .sec-1-subheading p {
    font-size: 16px;
  }
  .sec-1-subheading p span {
    display: inline-block;
  }
  .sec-1-subheading span:last-child {
    margin-top: 40px;
  }
  .line {
    width: 400px;
    height: 0px;
  }
  .sec-1-stats {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .stats {
    flex: 0 0 45%;
  }
  .sec-2 {
    gap: 16px;
    padding: 40px 20px 40px 20px;
  }
  .heading p {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .sec-2-grid-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "gb-1"
      "gb-2"
      "gb-3";
  }
  .sec-2-grid-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "gb-1"
      "gb-2";
  }
  .sec-3 {
    gap: 60px;
    padding: 40px 20px 40px 20px;
  }
  .sec-3 p {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .video-container {
    flex-direction: column;
    gap: 30px;
  }
  .video-details {
    gap: 8px;
    padding: 16px;
    width: 400px;
  }
  iframe {
    width: 400px;
    height: 225px;
  }
  .ved-heading {
    line-height: 24px;
  }
  .host {
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 400px;
  }
  .host-details {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .host-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }
  .host-intro {
    text-align: center;
  }
  .f-container {
    gap: 24px;
  }
  .f-platforms {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
  }
  footer {
    /* background: url(./assets/footer-bg.png); */
    background-size: 100% 100%;
    /* background-position: center; */
    object-fit: cover;
    /* background-repeat: no-repeat; */
  }
  .copywright p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }
}
