* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 200px 16px 200px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
  background: rgba(26, 11, 46, 1);
}
.logo {
  font-size: 40px;
  font-weight: 700;
  font-family: Inter;
  font-style: Regular;
}
.link ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.link a {
  text-decoration: none;
  width: 70px;
  height: 19px;
  opacity: 0.9;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.btn button {
  width: 135px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4;
  padding: 12px 16px 12px 16px;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.btn img {
  width: 20px;
  height: 20px;
}
footer {
  width: 100%;
  background: url(./assets/footer-bg.png);
}
.f-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 120px;
}
.f-platforms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.f-platforms h1 {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
.copywright p {
  color: rgba(250, 250, 250, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
.f-p-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.f-img {
  font-size: 55px;
  font-weight: 700;
  font-family: Inter;
  font-style: Regular;
}

.white {
  color: #ffffff;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.hero-sec {
  width: 100%;
  background: url(./assets/hero-bg.png);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 101px 525px;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 16px 8px 16px;
  border-radius: 1000px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  background: rgba(0, 255, 136, 1);
  color: rgba(26, 11, 46, 1);
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  top: 200px;
  right: 780px;
  z-index: 3;
}
.big-img {
  position: relative;
  width: fit-content;
}

.big-img img {
  display: block;
}

.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-heading {
  font-size: 55px;
  font-weight: 700;
  font-family: Inter;
  font-style: Regular;
}
.hero-subheading {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.hero-btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px 12px 20px;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.hero-btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px 12px 20px;
  color: rgba(0, 255, 136, 1);
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  box-sizing: border-box;
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;
  background: transparent;
}
.sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  padding: 50px 200px 120px 200px;
  background: rgba(26, 11, 46, 1);
}
.sec-1-Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sec-1-mainheading p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.sec-1-subheading p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
}
.sec-1-subheading span {
  display: block;
  margin-bottom: 20px;
}
.sec-1-subheading span:last-child {
  margin-top: 40px;
}
.line {
  width: 1200px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 0.1;
}
.sec-1-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.stats-main p {
  color: rgba(0, 255, 136, 1);
  font-family: Inter;
  font-style: Black;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.stats-sub p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}
.sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 120px 200px 120px 200px;
  background: rgba(35, 14, 61, 1);
}
.heading p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.sec-2-grid-1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 80px);
  grid-template-areas: 
  "gb-1 gb-1 gb-2 gb-2 gb-2 gb-2 gb-2" 
  "gb-1 gb-1 gb-2 gb-2 gb-2 gb-2 gb-2" 
  "gb-1 gb-1 gb-3 gb-3 gb-3 gb-3 gb-3"
  "gb-1 gb-1 gb-3 gb-3 gb-3 gb-3 gb-3"
  ;
  gap: 30px;
  place-content: center;
}
.sec-2-grid-2{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 80px);
  grid-template-areas: 
  "gb-1 gb-1 gb-1 gb-1 gb-2 gb-2 gb-2" 
  "gb-1 gb-1 gb-1 gb-1 gb-2 gb-2 gb-2" 
  "gb-1 gb-1 gb-1 gb-1 gb-2 gb-2 gb-2" 
  ;
  gap: 30px;
  place-content: center;
}
.gb-1 {
  grid-area: gb-1;
}
.gb-2 {
  grid-area: gb-2;
}
.gb-3 {
  grid-area: gb-3;
}
.grid-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 40px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}
.grid-heading p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.grid-text {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.5;
  
}
